// Post & Comments blocks.
.post-block, .comments {
  margin-top: 60px;
  padding: 30px;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 5px rgba(202, 203, 203, .5);
}

.post-block:first-of-type {
    padding-top: 30px;
}

.posts-expand .post-block:not(:first-child) {
    margin-top: 60px;
}
